<?xml version='1.0' encoding='utf-8'?>
<widget id="org.realestatearts.e59" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>5e59RealestateartsOrg</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="http://5e59.realestatearts.org/" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <access hap-rule="yes" origin="http://5e59.realestatearts.org/*" />
        <allow-navigation hap-rule="yes" href="http://5e59.realestatearts.org/*" />
        <icon density="ldpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/ldpi.png" />
        <icon density="mdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/mdpi.png" />
        <icon density="hdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/hdpi.png" />
        <icon density="xhdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/xhdpi.png" />
        <icon density="xxhdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/xxhdpi.png" />
        <icon density="xxxhdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/xxxhdpi.png" />
        <splash density="land-hdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/land-hdpi.png" />
        <splash density="land-ldpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/land-ldpi.png" />
        <splash density="land-mdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/land-mdpi.png" />
        <splash density="land-xhdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/land-xhdpi.png" />
        <splash density="port-hdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/port-hdpi.png" />
        <splash density="port-ldpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/port-ldpi.png" />
        <splash density="port-mdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/port-mdpi.png" />
        <splash density="port-xhdpi" hap-default-image="yes" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/android/port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <access hap-rule="yes" origin="http://5e59.realestatearts.org/*" />
        <icon hap-default-image="yes" height="40" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/40x40.png" width="40" />
        <icon hap-default-image="yes" height="80" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/80x80.png" width="80" />
        <icon hap-default-image="yes" height="50" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/50x50.png" width="50" />
        <icon hap-default-image="yes" height="100" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/100x100.png" width="100" />
        <icon hap-default-image="yes" height="57" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/57x57.png" width="57" />
        <icon hap-default-image="yes" height="114" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/114x114.png" width="114" />
        <icon hap-default-image="yes" height="60" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/60x60.png" width="60" />
        <icon hap-default-image="yes" height="120" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/120x120.png" width="120" />
        <icon hap-default-image="yes" height="180" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/180x180.png" width="180" />
        <icon hap-default-image="yes" height="72" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/72x72.png" width="72" />
        <icon hap-default-image="yes" height="144" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/144x144.png" width="144" />
        <icon hap-default-image="yes" height="76" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/76x76.png" width="76" />
        <icon hap-default-image="yes" height="152" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/152x152.png" width="152" />
        <icon hap-default-image="yes" height="29" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/29x29.png" width="29" />
        <icon hap-default-image="yes" height="58" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/58x58.png" width="58" />
        <splash hap-default-image="yes" height="768" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/1024x768.png" width="1024" />
        <splash hap-default-image="yes" height="1536" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/2048x1536.png" width="2048" />
        <splash hap-default-image="yes" height="1024" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/768x1024.png" width="768" />
        <splash hap-default-image="yes" height="2048" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/1536x2048.png" width="1536" />
        <splash hap-default-image="yes" height="1136" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/640x1136.png" width="640" />
        <splash hap-default-image="yes" height="1242" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/2208x1242.png" width="2208" />
        <splash hap-default-image="yes" height="480" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/320x480.png" width="320" />
        <splash hap-default-image="yes" height="960" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/640x960.png" width="640" />
        <splash hap-default-image="yes" height="1334" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/750x1334.png" width="750" />
        <splash hap-default-image="yes" height="2208" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/ios/1242x2208.png" width="1242" />
    </platform>
    <platform name="windows">
        <icon hap-default-image="yes" height="30" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/30x30.png" width="30" />
        <icon hap-default-image="yes" height="44" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/44x44.png" width="44" />
        <icon hap-default-image="yes" height="106" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/106x106.png" width="106" />
        <icon hap-default-image="yes" height="70" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/70x70.png" width="70" />
        <icon hap-default-image="yes" height="71" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/71x71.png" width="71" />
        <icon hap-default-image="yes" height="170" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/170x170.png" width="170" />
        <icon hap-default-image="yes" height="150" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/150x150.png" width="150" />
        <icon hap-default-image="yes" height="360" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/360x360.png" width="360" />
        <icon hap-default-image="yes" height="310" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/310x310.png" width="310" />
        <icon hap-default-image="yes" height="50" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/50x50.png" width="50" />
        <icon hap-default-image="yes" height="120" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/120x120.png" width="120" />
        <icon hap-default-image="yes" height="150" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/310x150.png" width="310" />
        <icon hap-default-image="yes" height="360" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/744x360.png" width="744" />
        <splash hap-default-image="yes" height="300" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/620x300.png" width="620" />
        <splash hap-default-image="yes" height="1920" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/windows/1152x1920.png" width="1152" />
    </platform>
    <platform name="wp8">
        <icon hap-default-image="yes" height="62" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/wp8/62x62.png" width="62" />
        <icon hap-default-image="yes" height="173" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/wp8/173x173.png" width="173" />
        <splash hap-default-image="yes" height="800" src="plugins/cordova-plugin-hostedwebapp/assets/defaultImages/wp8/480x800.png" width="480" />
    </platform>
</widget>
