#facts {
  padding: 40px 0 55px;
  @media($dt) {
    padding: 0 0 80px;
  }
}
#facts {
  .copy-block {
    @media($dt) {
      padding:130px $right-gutter (114px-50px) $left-width;
      position: relative;
      background: url('../assets/imgs/orange-5.jpg') 10% center no-repeat;
      background-size: 40%;

    }
  }
}
#fact-list {
  padding: 50px 36% 0 3.75%;
  position: relative;
  @media($dt) {
    padding: 0 0 0 percentage(90/1200);
    text-align: left;

  }

  &:before {
    display:block;
    position: absolute;
    content:'';
    background: url('../assets/imgs/orange-5.jpg') 90% top no-repeat;
    background-size: 55% auto;
    width: 100%;
    height:100%;
    right: -5%;
    top: 5%;
    @media($dt) {
      display:none;
    }
  }
  >li {
    text-align: left;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    display:block;
    vertical-align:top;
    clear:both;
    margin-bottom:30px;
    margin-right: 20px;
    @media($dt) {
      display:inline-block;
      //margin: 50px 45px 0 45px;
      width: percentage(350 / (1200-90));
      margin: 50px 0 0 0;
      padding-right: percentage(20/1200);
    }
    &:last-child {
      margin-bottom:0;
    }
    .header {
      font-weight: 700;
      font-size:10px;
      letter-spacing:.5em;
      line-height:1.2em;
      color:$orange;
      padding-bottom: 10px;
      margin-bottom:15px;
      border-bottom: 1px solid $white-50;
      display:inline-block;
      @media($dt) {
        font-size:12px;
      }
    }
    hr {
      margin: 10px 0 15px 0;
      height: 1px;
      background: $white-50;
    }
    .fact {
      font-size:48px;
      @media($dt) {
        font-size:60px;
      }
    }
  }
}


/*
#fact-list {
  letter-spacing: -4px;
  margin: 0 5%;
  text-align: center;
  > li {
    text-align: left;
    display:inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
}
*/
